.culture {
  height: 100vh;
  background-image: linear-gradient(
      to bottom rgba(36, 89, 187, 0.671),
      rgba(151, 23, 23, 0.623)
    ),
    url(img/culture-background.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 2.5rem 2.5rem rgba(204, 18, 34, 0.514) inset;
  border-radius: 5rem;
  margin-bottom: 1rem;
  font-family: "Bowlby One SC", cursive;
  align-items: center;

  .culture-heading {
    font-size: 2.5rem;
    text-shadow: 0.25rem 0.25rem darkgray;
    display: flex;
    justify-content: center;
  }

  .culture-cny {
    height: 50%;
    width: 50%;
    display: flex;
  }

  .culture-cny-textbox {
    font-size: 3.5rem;
  }
}
