.culture {
    height: 100vh;
    background-image: linear-gradient( to bottom rgba(122, 0, 33, 0.788), rgba(125, 0, 31, 0.788)), url(img/background/culture-background.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: Raleway;
}

.culture-textbox {
    font-size: 2.5rem;
    color: white;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.culture-textbox-text {
    width: 15%;
}

.culture-image {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.culture-image-image {
    height: 30rem;
    width: 15%;
}


/* .culture-cny {
    @include desktop {
        position: relative;
    }
    height: 100vh;
    width: auto;
    display: flex;
}

.culture-cny-textbox {
    @include phone {
        font-size: 1.5rem;
        line-height: 2.6rem;
    }
    @include tablet {
        font-size: 2.25rem;
        line-height: 4.5rem;
    }
    @include laptop {
        font-size: 2.5rem;
        line-height: 6rem;
    }
    @include desktop {
        font-size: 3rem;
        line-height: 9rem;
    }
    color: #fff;
    font-family: "Raleway";
    text-shadow: 0.25rem 0.25rem rgb(0, 0, 0);
    padding: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.culture-cny-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    @include phone {
        justify-content: space-around;
        align-items: center;
    }
    @include laptop {
        justify-content: space-evenly;
        align-items: center;
    }
} */