.header {
    height: 8.4rem;
    background: #ffef47;
    box-shadow: 0 0 1rem 1rem rgb(34, 34, 34) inset;
    padding: 0 2rem;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.logo {
    line-height: 8rem;
    float: left;
    text-transform: uppercase;
    font-size: 2.5rem;
    animation-name: bounce;
    animation-duration: 1.5s;
}

.menu {
    float: right;
    line-height: 8rem;
    font-size: 2.5rem;
    animation-name: bounce;
    animation-duration: 1.5s;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 8rem;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #58dca8;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width: 800px) {
    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 100;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked~.menu {
        right: 0;
    }
}