.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-container {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.video {
  min-height: 100%;
}