/* .homepage {
    position: relative;
    height: 100vh;
    background-image: linear-gradient( to bottom rgba(88, 232, 62, 0.363), rgba(88, 235, 62, 0.418)), url(img/background/homepage-background.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-size: cover;
}

.homepage-textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Bowlby One SC", cursive;
}

.homepage-text-primary {
    width: 80vw;
    letter-spacing: 1rem;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0.5rem 0.5rem darkgray;
    animation-name: zoomIn;
    animation-duration: 1.25s;
    animation-timing-function: ease-out;
    @include phone {
        font-size: 3rem;
    }
    @include tablet {
        font-size: 5rem;
    }
    @include laptop {
        font-size: 10rem;
    }
    @include desktop {
        font-size: 10rem;
    }
} */

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: auto;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}