.cities {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(36, 89, 187, 0.726),
      rgba(83, 59, 59, 0.774)
    ),
    url(img/info-background.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 2.5rem 2.5rem rgba(21, 42, 100, 0.452) inset;
  border-radius: 5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.cities-images {
  padding: 0;
  border: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  @include phone {
      
  }
}

.cities-images-place {
  border-radius: 5rem;
  height: 60rem;
  width: 30rem;
}
