@import "_variables.scss";
@import "_homepage.scss";
@import "_cities.scss";
@import "_button.scss";
@import "_culture.scss";
@import "_header.scss";
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  /*background-image: linear-gradient(
      to bottom,
      rgba(15, 214, 221, 0.185),
      rgba(0, 160, 53, 0.13)
    ),
    url(img/body-background.jpg);
  background-size: cover;*/
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: floralwhite;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
