@import "_variables.scss";
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: rgba(250, 226, 120, 0.397);
}

.homepage {
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(124, 236, 184, 0.288),
      rgba(68, 172, 233, 0.342)
    ),
    url(img/homepage-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
  border-radius: 5rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  text-align: center;
  margin: auto;
  padding: 0;
  @include phone {
    font-size: 5rem;
  }
  @include desktop {
    font-size: 10rem;
  }
}

.info {
  height: 100%;
}

.photo {
}

.stories {
}

.about {
}
